.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.icons-container__icon {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    gap: 1.5rem;
}

.icons-container__text {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #F9F9F9
}

.icons-container__icon:hover {
    transform: scale(1.1)
}

.icons-container__link {
    text-decoration: none;
    width: fit-content;
}

.icons-container__icon .icons-container__text:last-child {
    font-size: 1.6rem;
    font-weight: 500;
    color: #828282
}

.icons-container__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 50%
}

.icons-container__img {
    width: 3rem;
    padding: 1.5rem
}