:root {
    --primary-color: #5b80e6;
    --background-primary-color: #f8f8f8;
    --dark-color: #2A2A2A;
    --selected-color: #ccc;
}

html {
    font: 400 62.5% 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: calc(11.90rem);
}

body {
    margin: 0;
    padding: 0;
}

p,
a {
    font-size: 1.6rem !important;
}

h1 {
    font-size: 4.8rem !important;
}

h2 {
    font-size: 4rem !important;
}

h3 {
    font-size: 3.2rem !important;
}

.img-svg {
    width: 40%;
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: -1;
}

.section-container {
    text-align: center;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
}

/* Referente a sessão inicio */
.inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 14rem 0;
}

.inicio__apresentacao {
    display: flex;
    flex-direction: column;
}

.inicio__texto {
    font-size: 1.6rem;
    line-height: 1.3;
}

.inicio__nome {
    font-weight: 900;
    font-size: 4.9rem;
    text-transform: uppercase;
}

.inicio__cargo {
    font-size: 2.1rem;
    text-transform: uppercase;
}

.inicio__link {
    padding: 2rem 0;
    border-radius: 6.2rem;
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--background-primary-color);
    transition: letter-spacing 0.6s ease;
}

.inicio__link:hover {
    letter-spacing: 8px;
}

/* Referente a sessão sobre mim */
.sobre-mim {
    background-color: var(--dark-color);
    color: var(--background-primary-color);
    gap: 2rem;
}

.sobre-mim__wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.sobre-mim__avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre-mim__text {
    width: 50%;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
}

/* Referente a sessão habilidades */
.habilidades {
    gap: 4rem;
}

.habilidades__title {
    color: var(--primary-color);
}

.habilidades__wrapper {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.habilidades__prev-button {
    transform: rotate(45deg);
}

.habilidades__icone-container {
    text-align: center;
}

.habilidades__icone-container .habilidade-selecionada {
    opacity: 1;
}

.habilidades__next-button {
    transform: rotate(225deg);
}

.habilidades__prev-button:hover,
.habilidades__next-button:hover,
.projetos__ver-mais-menos .projetos__more-button:hover {
    box-shadow: 2px -2px 0 1px var(--selected-color) inset;
}

.habilidades__descricao {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;
}

.habilidades__descricao p {
    display: none;
}

.habilidades__texto.descricao-oculta {
    display: none;
}

.habilidades__texto.mostrando {
    display: block;
}

/* Referente a sessão projetos */
.projetos {
    background-color: var(--primary-color);
    color: var(--background-primary-color);
    align-items: center;
    gap: 4rem;
}

.projetos__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 40rem);
    grid-auto-rows: 30rem;
    gap: 10rem;
    justify-content: center;
}

.projetos__projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--selected-color);
    background-color: var(--background-primary-color);
    font-size: 1.8rem;
    font-weight: bold;
}

.segunda-linha {
    display: none;
}

.projetos__ver-mais-menos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    gap: 1.5rem;
}

.projetos__ver-mais-menos .projetos__more-button {
    box-shadow: 2px -2px 0 1px var(--background-primary-color) inset;
    transform: rotate(315deg);
}

.projetos__ver-mais:hover {
    cursor: pointer;
    color: var(--selected-color);
}

.projetos__link {
    padding: 1.5rem;
    border-radius: 6.2rem;
    background-color: var(--background-primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: letter-spacing 0.6s ease;
}

.projetos__link:hover {
    letter-spacing: 8px;
}

/* Referente ao footer */
.footer {
    color: var(--background-primary-color);
    background-color: var(--dark-color);
    gap: 8rem;
}

.footer__link {
    text-decoration: none;
    color: var(--primary-color);
}

/* classes utilitarias */
.hidden {
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 1s ease, opacity 1s ease;
}

.hidden-top {
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 1s ease, opacity 1s ease;
}

.show {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

@media screen and (max-width: 1420px) {
    .projetos__wrapper {
        grid-template-columns: repeat(2, 40rem);
        grid-auto-rows: 30rem;
        gap: 8rem;
    }
}

@media screen and (max-width: 1060px) {
    .inicio {
        gap: 4rem;
    }

    .container {
        max-width: 50rem;
    }
}

@media screen and (max-width: 900px) {
    .projetos__wrapper {
        grid-template-columns: repeat(1, 40rem);
        grid-auto-rows: 30rem;
        gap: 5rem;
    }
}

@media screen and (max-width: 860px) {
    .sobre-mim__wrapper {
        flex-direction: column;
    }

    .sobre-mim__text {
        width: 80%;
        text-align: center;
    }

    .habilidades__wrapper {
        gap: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .projetos {
        text-align: center;
        align-items: normal;
    }

    .projetos__link {
        align-self: center;
    }

    .projetos__wrapper {
        grid-template-columns: repeat(1, 0.9fr);
        grid-auto-rows: 30rem;
        gap: 5rem;
    }

    .sobre-mim__avatar {
        width: 150px;
        height: 150px;
    }

    .inicio__nome {
        font-size: 2.0rem;
    }

    .inicio__cargo {
        font-size: 1.5rem;
    }

    .inicio__link {
        padding: 1rem 0;
    }

    .habilidades__title {
        font-size: 2.5rem !important;
        color: var(--primary-color);
    }
}

@media screen and (max-width: 232px) {
    .projetos {
        text-align: center;
        align-items: normal;
    }

    .projetos__wrapper {
        grid-template-columns: repeat(1, 0.9fr);
        grid-auto-rows: 30rem;
        gap: 5rem;
    }

    .sobre-mim__avatar {
        width: 150px;
        height: 150px;
    }

    .inicio__nome {
        font-size: 2.0rem;
    }

    .inicio__cargo {
        font-size: 1.5rem;
    }

    .inicio__link {
        padding: 1rem 0;
    }

    .habilidades__title {
        font-size: 2.5rem !important;
        color: var(--primary-color);
    }

    .habilidades__wrapper {
        flex-direction: column;
    }

    .icon:first-of-type a:nth-child(3) p {
        font-size: 1.2rem !important;
    }

}