:root {
    --primary-color: #5b80e6;
    --background-primary-color: #f8f8f8;
    --dark-color: #2A2A2A;
    --selected-color: #ccc;
}

html {
    font: 400 62.5% 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: calc(11.90rem);
}

body {
    margin: 0;
    padding: 0;
}

p,
a {
    font-size: 1.6rem !important;
}

h1 {
    font-size: 4.8rem !important;
}

h2 {
    font-size: 4rem !important;
}

h3 {
    font-size: 3.2rem !important;
}

.positioned {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.wrapper-container {
    padding-top: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wrapper-container-dark {
    background-color: var(--dark-color);
    color: var(--background-primary-color);
}

.header {
    max-width: 106rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
}

.header-nav a {
    padding: .75em 1.15em;
    text-decoration: none;
    color: var(--background-primary-color);
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: var(--primary-color)
}

.logo {
    display: block;
    background-color: var(--background-primary-color);
    color: var(--dark-color);
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    font-size: 4.8rem !important;
    font-weight: bold;
}

#inicio {
    padding: 14rem 0;
}

.wrapper-apresentacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img-svg {
    width: 40%;
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: -1;
}

.apresentacao {
    display: flex;
    flex-direction: column;
}

.apresentacao p {
    font-size: 1.6rem;
    line-height: 1.3;
}

.apresentacao a {
    padding: 2rem 0;
    border-radius: 6.2rem;
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--background-primary-color);
    transition: letter-spacing 0.6s ease;
}

.apresentacao a:hover {
    letter-spacing: 8px;
}

.inicio-nome {
    font-weight: 900;
    font-size: 4.9rem;
    text-transform: uppercase;
}

.inicio-cargo {
    font-size: 2.1rem;
    text-transform: uppercase;
}

.avatar-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.section-container {
    text-align: center;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
}

#sobre {
    background-color: var(--dark-color);
    color: var(--background-primary-color);
    gap: 2rem;
}

.wrapper-sobre p {
    display: flex;
}

.wrapper-sobre {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.sobre-mim-text {
    width: 50%;
    text-align: left;
    font-size: 2rem;  
    line-height: 1.5;
}

.hidden {
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 1s ease, opacity 1s ease;
}

.hidden-right {
    opacity: 0;
    transform: translateX(50px);
    transition: transform 1s ease, opacity 1s ease;
}

.hidden-top {
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 1s ease, opacity 1s ease;
}

.show {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

#habilidades {
    gap: 4rem;
}

#habilidades h2 {
    color: var(--primary-color);
}

.wrapper-habilidades {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.icone-container {
    text-align: center;
}

.icone {
    width: 80px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.habilidade-selecionada {
    opacity: 1;
}

.descricao-habilidade {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;  
}

.descricao-habilidade p {
    display: none;
}

.descricao-habilidade p.descricao-oculta {
    display: none;
}

.descricao-habilidade p.mostrando {
    display: block;
}

.btn {
    height: 1px;
    padding: 10px;
    box-shadow: 2px -2px 0 1px var(--primary-color) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    cursor: pointer;
}

#prev-button {
  transform: rotate(45deg);
}

#next-button {
    transform: rotate(225deg);
}

#more-button {
    box-shadow: 2px -2px 0 1px var(--background-primary-color) inset;
    transform: rotate(315deg);
}

#prev-button:hover, #next-button:hover, #more-button:hover {
    box-shadow: 2px -2px 0 1px var(--selected-color) inset;
}

#projetos {
    background-color: var(--primary-color);
    color: var(--background-primary-color);
    align-items: center;
    gap: 4rem;
}

.wrapper-projetos {
    display: grid;
    grid-template-columns: repeat(3, 40rem);
    grid-auto-rows: 30rem;
    gap: 10rem;
    justify-content: center;
}

.projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--selected-color);
    background-color: var(--background-primary-color);
    font-size: 1.8rem;
    font-weight: bold;
}

.segunda-linha {
    display: none;
}

.ver-mais-menos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    gap: 1.5rem;
}

.ver-mais:hover {
    cursor: pointer;
    color: var(--selected-color);
}

#projetos a {
    padding: 1.5rem;
    border-radius: 6.2rem;
    background-color: var(--background-primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: letter-spacing 0.6s ease;
}

#projetos a:hover {
    letter-spacing: 8px;
}

@media screen and (max-width: 1420px) {
    .wrapper-projetos {
        grid-template-columns: repeat(2, 40rem); 
        grid-auto-rows: 30rem;
        gap: 8rem;
    }
}

@media screen and (max-width: 1060px) {
    .wrapper-apresentacao {
        gap: 4rem;
    }

    .header {
        padding: 0;
        gap: 4rem;
        justify-content: center;
    }

    .container {
        max-width: 50rem;
    }
}

@keyframes wave {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.wave {
    display: inline-block;
    animation: wave 1.5s infinite;
}

footer {
    color: var(--background-primary-color);
    background-color: var(--dark-color);
    gap: 8rem;
}

footer div a {
    text-decoration: none;
    color: var(--primary-color);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s
}

.icon p {
    margin: 0;
}

.icon:hover {
    transform: scale(1.2)
}

.icon a {
    text-decoration: none;
    width: fit-content
}

.icon a:first-child {
    margin-bottom: 2rem
}

.icon a:nth-child(2) {
    margin-bottom: 1rem
}

.icon a:last-child p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #828282
}

.icon a p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #F9F9F9
}

.icon .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 50%
}

.icon .box img {
    width: 3rem;
    padding: 1.5rem
}

@media screen and (max-width: 900px) {
    .wrapper-projetos {
        grid-template-columns: repeat(1, 40rem);
        grid-auto-rows: 30rem; 
        gap: 5rem;
    }
}

@media screen and (max-width: 860px) {
    .wrapper-sobre {
        flex-direction: column;
    }

    .sobre-mim-text {
        width: 80%;
        text-align: center;
    }

    .wrapper-habilidades {
        gap: 5rem;
    }
}

@media screen and (max-width: 480px) {
    #projetos {
        text-align: center;
        align-items: normal;
    }

    .wrapper-projetos {
        grid-template-columns: repeat(1, 0.9fr);
        grid-auto-rows: 30rem;
        gap: 5rem;
    }
}